/* variable definition */
:root {
    --cv-highlight-color: rgba(158, 124, 71);
    --cv-border-color: rgba(158, 124, 71, 0.5);
    --cv-border-width: 2px;
}

/* screen size specifics */
@media (max-width: 639px) /* < tailwind sm */ {
    .jr__date-range,
    .jr-work__location,
    .jr-work__position,
    .jr__date-range {
        flex-basis: 100%;
    }
}

@media (min-width: 640px) /* tailwind sm */ {
    .jr__date-range,
    .jr-work__location {
        flex-grow: 1;
        text-align: right;
        flex-basis: 40%;
    }
    .jr-work__name {
        flex-basis: 60%;
    }
}

@media (min-width: 1024px) /* tailwind lg */ {
    .basics-fixed-height {
        height: calc(100vh - 130px);
    }
}

.jr-education__institution {
    flex-basis: 100%;
}

.jr__item {
    border-color: var(--cv-border-color);
    border-top-width: var(--cv-border-width);
    margin: 5px;
}

.jr__item.jr-languages__item,
.jr__item.jr-basics__item {
    border: none;
}

.jr__item-meta,
.jr-basics__image,
.jr-basics__item,
.jr-basics__profile-icon,
.jr-basics__profile-item {
    align-items: center;
    display: flex;
    padding: 2px;
    margin-bottom: 2px;
    margin-top: 5px;
}

#languages, #sprachen {
    border-color: var(--cv-border-color);
    border-bottom-width: var(--cv-border-width);
}

.jr-basics__summary {
    max-width: 800px;
}


.jr__item-meta {
    flex-flow: row wrap;
}

.jr-education__score {
    margin: 0px !important;
}

/* Because the plugin has no classes and gives id's based on language... */
#experience,
#education,
#projects,
#skills,
#languages,
#erfahrung,
#ausbildung,
#projekte,
#fähigkeiten,
#sprachen {
    margin: 0;
    padding: 5px;
}

.jr-education__institution,
.jr-volunteer__organization,
.jr-skills__item p {
    margin: 0px !important;
}

.jr-skills__list ul,
.jr-languages__list ul {
    margin-top: 0px;
}
.jr-skills__list li,
.jr-languages__list li {
    margin-top: 2px;
}

.jr-awards__title,
.jr-certificates__name,
.jr-education__area,
.jr-projects__roles,
.jr-publications__name,
.jr-volunteer__position,
.jr-work__position,
.jr-basics__name {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--cv-highlight-color);
}

/* "basic summary" styling */

.jr-basics__item {
    flex-direction: column;
    text-align: center;
}

.jr-basics__item hr {
    margin: 1.5rem auto;
}

.jr-basics__image {
    border-radius: 50%;
    height: 250px;
    justify-content: center;
    overflow: hidden;
    width: 250px;
}

.jr-basics__image-tag {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.jr-basics__name,
.jr-basics__label,
.jr-basics__summary,
.jr-basics__email {
    margin-top: 0.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.jr-basics__profile svg {
    height: 24px;
    width: 24px;
    fill: white;
}

.jr-basics__profile,
.jr-basics__profile-item {
    display: flex;
}

.jr-basics__profile-item {
    display: flex;
    padding: 0.2rem;
}

.jr-basics__profile--col {
    flex-direction: column;
}

.jr-basics__profile--row {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.jr-basics__profile-icon {
    padding: 0 0.75rem;
}

.jr-basics__location-city {
    padding-top: 5px;
}
